body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
}
h1 {
    color: #444;
}
div {
    margin: 20px;
    padding: 10px;
    border: 2px solid #ddd;
    background-color: #fff;
    border-radius: 8px;
}
img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 5px 0;
}
#quotes {
    font-style: italic;
}
